body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

/* Centering the create post form */
.Form {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Titles */
.Form h1 {
    font-size: 2.5rem;
    color: #ff7f50;
    margin-bottom: 10px;
}

.Form h2 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 20px;
}

/* Input styles for the title field */
.Form input[type="text"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
}

/* Textarea styles for the description field */
.Form textarea {
    width: 100%; /* Occupano tutta la larghezza */
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
    resize: vertical; /* Consente di allargare solo verticalmente */
}

/* Focus styles */
.Form input[type="text"]:focus,
.Form textarea:focus {
    border-color: #ff7f50;
    outline: none;
    box-shadow: 0 0 5px rgba(255, 127, 80, 0.5);
}

/* Button styles */
button[type="submit"] {
    width: 100%;
    padding: 12px;
    background-color: #ff7f50;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}

button[type="submit"]:hover {
    background-color: #e6674b;
}
