/* Centering the create post form */
.Posts {
    font-family: 'Arial', sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center; /* Inizia dall'alto, non centrare verticalmente */
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 20px; /* Aggiungi padding per evitare tagli */
    margin-bottom: 20px; /* Spazio extra tra i blocchi */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.Posts h2 {
    font-size: 1.5rem;
    color: #333;
    background-color: #ff7f50;
    padding: 7px; /* Aggiungi padding per evitare tagli */
    margin-bottom: 20px; /* Spazio extra tra i blocchi */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Titles */
.Posts p {
    font-size: 0.75rem;
    color: #ff7f50;
    background-color: #ff7f5044;
    padding: 7px; /* Aggiungi padding per evitare tagli */
    margin-bottom: 20px; /* Spazio extra tra i blocchi */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Button styles */
.Posts button[type="button"] {
    padding: 5px;
    background-color: #ff7f50;
    border: none;
    border-radius: 5px;
    font-size: 0.7rem;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}

.Posts button[type="botton"]:hover {
    background-color: #e6674b;
}
