/* Centering the create post form */
.Posts {
    font-family: 'Arial', sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center; /* Inizia dall'alto, non centrare verticalmente */
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 20px; /* Aggiungi padding per evitare tagli */
    margin-bottom: 20px; /* Spazio extra tra i blocchi */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.Posts h2 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 20px;
}

/* Titles */
.Posts p {
    font-size: 0.75rem;
    color: #ff7f50;
    margin-bottom: 10px;
}

/* Input styles for the title field */
.Posts input[type="text"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
}

/* Textarea styles for the description field */
.Posts textarea {
    width: 100%; /* Occupano tutta la larghezza */
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
    resize: vertical; /* Consente di allargare solo verticalmente */
}

/* Focus styles */
.Posts input[type="text"]:focus,
.Posts textarea:focus {
    border-color: #ff7f50;
    outline: none;
    box-shadow: 0 0 5px rgba(255, 127, 80, 0.5);
}

/* Button styles */
.Posts button[type="submit"] {
    width: 100%;
    padding: 12px;
    background-color: #ff7f50;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}

.Posts button[type="submit"]:hover {
    background-color: #e6674b;
}
